site_name: Tam kde draci spí
site_url: https://pravidla.tkds.cz
theme:
  name: 'material'
  font:
    text: 'Robot'
    code: 'Ubuntu Mono'
  logo: assets/logo.png
  favicon: assets/favicon.png

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - footnotes
  - mdx_include:
      base_path: docs
  - attr_list
  - md_in_html
  - pymdownx.caret
  - pymdownx.tilde

plugins:
  - search
  - awesome-pages
  - minify:
      minify_html: true
  - glightbox

exclude_docs:
  - Zasazení-Aldir/*

extra_css:
  - stylesheets/extra.css
