[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #1e1e1eff;
    --md-primary-bg-color: #ffffffff;
    --md-default-bg-color: #ffffffff;
    --md-accent-fg-color: #5e90a0ff;
    --md-default-fg-color--light: #000000ff;
    --md-typeset-color: #2c2c2cff;
    --md-typeset-a-color: #22b8e6ff !important;
    --md-table-head-bg: #1e1e1eff;
    --md-table-head-color:#ffffffff;
    --md-table-odd-bg: #00000010;
    --md-typeset-bold-color: #000000ff;
    --md-typeset-italic-color: #e65022ff;
    --md-footer-bg-color--dark:  #1e1e1eff;
}

:root {
    --md-primary-fg-color: #1e1e1eff;
    --md-primary-bg-color: #ffffffff;
    --md-default-bg-color: #ffffffff;
    --md-accent-fg-color: #5e90a0ff;
    --md-default-fg-color--light: #000000ff;
    --md-typeset-color: #2c2c2cff;
    --md-typeset-a-color: #22b8e6ff !important;
    --md-table-head-bg: #1e1e1eff;
    --md-table-head-color:#ffffffff;
    --md-table-odd-bg: #00000010;
    --md-typeset-bold-color: #000000ff;
    --md-typeset-italic-color: #e65022ff;
    --md-footer-bg-color--dark:  #1e1e1eff;
}

b, strong {
    color: var(--md-typeset-bold-color);
}

em {
    color: var(--md-typeset-italic-color)
} 

th
{
    background-color: var(--md-table-head-bg);
    color: var(--md-table-head-color)
}

tbody tr:nth-child(odd) {
    background-color: var(--md-table-odd-bg);
}

tbody tr:nth-child(odd):hover {
    background-color: var(--md-table-odd-bg) !important;
}

.md-typeset__table {
    width: 100% !important;
}

.md-typeset table:not([class]) {
    display: table;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--md-headings-color) !important;
}